<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kvande73.reflect">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/activity_fab"
            android:name="com.example.kvande73.reflect.FabActivity" />
        <activity
            android:label="@string/activity_settings"
            android:name="com.example.kvande73.reflect.SettingsActivity"/>
        <activity
            android:label="@string/module_calendar"
            android:name=".CalendarActivity"/>
        <activity
            android:label="@string/module_clock"
            android:name=".ClockActivity"/>
        <activity
            android:label="@string/module_compliments"
            android:name=".ComplimentsActivity"/>
        <activity
            android:label="@string/module_currentweather"
            android:name=".CurrentWeatherActivity"/>
        <activity
            android:label="@string/module_news"
            android:name=".NewsfeedActivity"/>
        <activity
            android:label="@string/module_weatherforecast"
            android:name=".WeatherForecastActivity"/>
    </application>

</manifest>